body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.container{

  background: #18191A;;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.wrapper{
 
  background-image: url(assets/images/fundo.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #fff;
  height: 467px;
  width: 970px;
}

.box {
  width: 500px;
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 20px;
}

.container .wrapper .box .page-title{
  font-weight: 700;
  font-size: 48px;
  line-height: 20.33px;
  
}

.container .wrapper .box .page-title span{
  color: #FFB400;
}


.container .wrapper .box .page-text{
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

}

#valor{
  width: 316px;
  height: 40px;
  background: #F0F0F6;
  border: transparent;
  border-radius: 5px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  margin-bottom: 24px;
  font-size: 18px;

}

#valor:focus, select:focus{
  background: #d3d3df;
}

.button-action{
  height: 51px;
  width: fit-content;
  font-weight: 500;
  padding: 16px 32px;
  font-size: 16px;
  background: #FFB400;
  border: transparent;
  border-radius: 5px;
  margin-right: 26px;
  
}

.resultado {
  font-weight: 500;;
  color: #111111;
  font-size: 22px;
  margin-top: 16px;

}


.try-colors{
  color: #eca603;
}


.try-colors.-blue{

  color: #0047FF;
}

@media only screen and (max-width: 770px) {


  .wrapper{
    width: 100%;
    background-image:none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    
  }

  .box {
    width: 90%;
    padding: 15px;
    margin: 0;
  }
  
  .container .wrapper .box .page-title{
    font-size: 28px;
    line-height: 20.33px;
   
  }

  .container .wrapper .box .page-text, .resultado{
    font-size: 18px;
    padding: 5px;
  }

  .container .box .button-box .button-action{
    padding: 16px 18px;   
  }

}
